<nav *ngIf="isWebsite" style="background-color: #070713;" class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-custom" id="mainNav">
    <div class="container">
        <a routerLink="/home" routerLinkActive="active" class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid img-logo" src="../../assets/Moja-01logo.png" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars text-muted" style="font-size: 20px;"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto mr-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="home#products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="home#why_us">Why us?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="home#contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="header-buttons d-xl-block d-lg-block d-none">
            <a routerLink="/login" class="btn btn-sm btn-outline-custom">Login</a>
            <a routerLink="/signup" class="btn btn-sm btn-custom">Sign up</a>
        </div>
    </div>
</nav>