.img-master {
    max-width: 350px;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.btn-primary {
    background-color: #b2d3eb;
}

.btn-primary:hover {
    background-color: #f6931d;
}

.masthead {
    background: none;
    background-image: none;
    font-family: 'Roboto', sans-serif;
}

.p-custom {
    font-size: 15px;
    font-family: 'Roboto';
}

h1 {
    font-family: 'Roboto';
}
