.page-section {
    padding-left: 1em;
    padding-right: 1em;
}

.img-product {
    background-color: white;
    border-radius: 30px;
    border-radius: 100px;
    max-width: 80px;
}

.item-product {
    padding: 10px;
    text-align: center;
}

.text-custom {
    color: #ccc;
}
