<section id="products" class="page-section bg-dark" style="color: white;">
    <div class="container container-fluid p-1">
        <div class="row no-gutters">
            <div class="container">
                <h2 class="text-center mt-0">What we offer</h2>
                <hr class="divider my-4">
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 item-product">
                    <i class="fas fa-4x text-primary mb-4">
          <img class="img-fluid img-product" src="../../assets/mojacard01.png">
        </i>
                    <h3 class="h4 mb-2">MojaCard</h3>
                    <p class="text-justify text-custom my-2 mb-0">
                        MojaCard enables anyone to create a virtual prepaid card that can be preloaded and used across the globe where traditional debit/credit cards are accepted. MojaCard users can instantly load their cards using Mobile Money wallets or Bank Accounts, enabling
                        them to shop online in stores like ebay, alibaba, amazon etc. or paying for services like education, health and many more.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 item-product">
                    <i class="fas fa-4x text-primary mb-4">
          <img class="img-fluid img-product" src="../../assets/mojaremit01.png">
        </i>
                    <h3 class="h4 mb-2">MojaRemit</h3>
                    <p class="text-justify text-custom my-2 mb-0">
                        Forget all the hustle of excessive money remittance charges! MojaRemit will benefit from the exchange rates rather than levy charges for Moja users to send and receive money to their loved ones.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 item-product">
                    <i class="fas fa-4x text-primary mb-4">
          <img class="img-fluid img-product" src="../../assets/mojafin01.png">
        </i>
                    <h3 class="h4 mb-2">MojaFin</h3>
                    <p class="text-justify text-custom my-2 mb-0">
                        MojaFin has the billions of unbanked in mind! Seamless integrations with financial systems such as Loan Performer, Bambu, Mifos will enable MFIs to disburse loans to their clients where they cashout from Mobile Wallets and
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 item-product">
                    <i class="fas fa-4x text-primary mb-4">
          <img class="img-fluid img-product" src="../../assets/mojapay01.png">
        </i>
                    <h3 class="h4 mb-2">MojaPay</h3>
                    <p class="text-justify text-custom my-2 mb-0">
                        Payment of goods and services such as taxes, insurance premiums, tuition fees, electricity, water among others made easy with MojaPay. MojaPay users will have seamless integration with their Mobile Money wallets and bank accounts.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 item-product">
                    <i class="fas fa-4x text-primary mb-4">
          <img class="img-fluid img-product" src="../../assets/mojanode01.png">
        </i>
                    <h3 class="h4 mb-2">MojaNode</h3>
                    <p class="text-justify text-custom my-2 mb-0">
                        Facilitation of 3rd parties to plug and play to extend services
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 item-product">
                    <i class="fas fa-4x text-primary mb-4">
          <img class="img-fluid img-product" src="../../assets/mojasure01.png">
        </i>
                    <h3 class="h4 mb-2">MojaSure</h3>
                    <p class="text-justify text-custom my-2 mb-0">
                        Business continuity has always been a challenge and more so for SMEs as they do not have the financial muscle to cover some of their unforeseen challenges. MojaSure makes it possible for individuals and SMEs to insure what is dear to them ensuring that
                        business can continue even when disaster has struck.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
