.img-store-custom {
    max-height: 45px;
}

.left-sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 20;
    padding-top: 56px;
    background: #0b0c21;
    box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
}

.sidebar-nav ul {
    margin: 0;
    padding: 0;
}

.sidebar-nav ul li {
    list-style: none;
    margin-bottom: 5px;
}

.sidebar-nav ul li:hover {
    background: #10112d;
    margin-top: 10px;
    border-left: 2px solid #1976d2;
    ;
}

.sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, .13);
    display: block;
}

.sidebar-nav ul li.nav-label {
    font-size: 12px;
    margin-bottom: 0;
    padding: 14px 14px 14px 20px;
    color: #abafb3;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar-nav ul li a {
    color: #abafb3;
    padding: 7px 35px 7px 15px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar-nav ul li a i {
    width: 25px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #99abb4;
}

h5 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
