<div class="sidebar sidebar-custom">
    <div class="logo text-center">
        <a routerLink="">
            <img src="../assets/Moja-01logo.png" alt="logo" class="img-fluid logo-custom">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">
                    <i class="fa fa-tachometer"></i>
                    <span class="sidebar-link"> Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users">
                    <i class="fa fa-users"></i>
                    <span class="sidebar-link"> Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/companies">
                    <i class="fa fa-briefcase"></i>
                    <span class="sidebar-link"> Companies</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/transactions">
                    <i class="fa fa-refresh"></i>
                    <span class="sidebar-link"> Transactions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cards">
                    <i class="fa fa-credit-card"></i>
                    <span class="sidebar-link"> Cards</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/notifications">
                    <i class="fa fa-bell"></i>
                    <span class="sidebar-link"> Notifications</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/settings">
                    <i class="fa fa-cog"></i>
                    <span class="sidebar-link">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>
