<div class="header">
    <nav class="navbar fixed-top navbar-expand-md navbar-custom">
        <div class="navbar-header mx-auto">
            <a class="navbar-brand" href="#">
                <img src="../../assets/Moja-01logo.png" class="img-fluid img-custom">
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item">
                    <a class="nav-link toggle-nav hidden-md-up  " href="javascript:void(0)">
                        <i class="fa fa-bars text-muted"></i>
                    </a>
                </li>
                <li class="nav-item m-l-10"><a class="nav-link sidebartoggle hidden-sm-down text-muted" href="javascript:void(0)"><i  class="ti-menu"></i></a></li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item text-white"> {{user_name}} </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item" title="logout"><a href="#"><i  class="fa fa-power-off fa-power-off-custom"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
