<section class="page-section bg-white text-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/Nixec.png" class="img-fluid img-custom">
            </div>
            <div class="col-md-6">
                <h1 class="text-center text-dark mt-0">How it Works</h1>
                <hr class="divider my-4">
                <p class="text-left text-justify text-dark">
                    MojoGap is a FinTech solutions company creating technologies to close financial gaps in society. We desire to bridge the financial divide between the First world countries and Developing countries by creating, extending and mixing financial services creating
                    financial inclusion for all. We desire to bridge the financial divide between the First world countries and Developing countries by creating, extending mixing financial services creating financial inclusion for all.
                </p>
            </div>
        </div>
    </div>
</section>
