<section class="page-section bg-white" id="why_us">
    <div class="container">
        <h2 class="text-center mt-0">Why choose us?</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="text-center">
                    <span>
                      <i class="fas fa-mobile" ></i>
                      <i class="fas fa-caret-right" style="font-size:35px;"></i>
                      <i class="fas fa-mobile" style="font-size:40px;"></i>
                  </span>
                </div>
                <h3>Peer-to-peer Transactions</h3>
                <p class="text-justify">
                    MojaGap is a peer to peer electronic cash system that is decentralized with no central server or trusted parties. MojaGap relies on cryptographic principles to create unique, unreproducible and divisible tokens of value.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="fas fa-globe"></i>
                </div>
                <h3>Borderless Payments</h3>
                <p class="text-justify">
                    Pay, Accept and Exchange MojaGap Coin internationally without any central bank having to verify the transcation.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <h3>Advanced Security System</h3>
                <p class="text-justify">
                    As technology improved in the recent decades, MojaGap has developed a high-end encryption security system to protect user's data and information.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="fas fa-wallet"></i>
                </div>
                <h3>Secure Wallet</h3>
                <p class="text-justify">
                    MojaGap wallet automatically generates a private key to restore an account if a user has lost access. We strongly recommend to securely back-up your private key.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="fas fa-money-check-alt"></i>
                </div>
                <h3>Easy to Buy and Sell</h3>
                <p class="text-justify">
                    MojaGap Coin is available to any sites or exchanges that accept it. Nevertheless a person to person trading can take place, MojaGap trading is acceptable internationally.
                </p>
            </div>
        </div>
    </div>
</section>
