<div class="left-sidebar" style="overflow: visible;">

    <div class="slimScroll" style="position: relative; overflow: visible; width: auto; height: 100%;">
        <div class="scroll-sidebar" style="overflow: visible hidden; width: auto; height: 100%;">

            <nav class="sidebar-nav active">
                <ul id="sidebar-menu" class="in">
                    <li class="nav-devider"></li>
                    <li style="margin-top: 10px;">
                        <a routerLink="/home" aria-expanded="false">
                            <i class="fa fa-tachometer-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Dashboard </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cards" aria-expanded="false">
                            <i class="fa fa-credit-card"></i>
                            <span class="hide-menu">Manage Cards</span>
                        </a>
                    </li>
                    <li *ngIf="isCompany">
                        <a routerLink="/employees" aria-expanded="false">
                            <i class="fa fa-users"></i>
                            <span class="hide-menu">Employees</span>
                        </a>
                    </li>
                    <!--<li>
                      <a routerLink="/transact" aria-expanded="false">
                          <i class="fa fa-exchange-alt"></i>
                          <span class="hide-menu">Transact</span>
                      </a>
                  </li>-->
                    <li>
                        <a routerLink="/account" aria-expanded="false">
                            <i class="fa fa-user"></i>
                            <span class="hide-menu">My Account</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                            <span class="hide-menu">Settings </span>
                        </a>
                    </li>
                    <li class="nav-devider" style="margin-top: 150px;"></li>
                    <br>
                    <!--
                    <div class="container">
                        <li style="margin-top: 5px;" class="hide-menu">
                            <h5>Download App</h5>
                        </li>
                    </div>
                    <li>
                        <a href="#" aria-expanded="false">
                            <i class="fa fa-play"></i>
                            <span class="hide-menu"><img class="img-fluid img-store-custom" src="../../assets/gp.svg" width="80%"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false">
                            <i class="fa fa-apple-alt"></i>
                            <span class="hide-menu"><img class="img-fluid img-store-custom" src="../../assets/as.svg" width="80%"></span>
                        </a>
                    </li>

                    <li style="margin-top: 50px;">

                    </li>-->
                </ul>
            </nav>


        </div>
    </div>
</div>