<div class="container-fluid">
    <div class="card">
        <div class="card-title">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h4>Your employees</h4>
                </div>
                <div class="col-md-8 col-custom text-white">
                    <div class="main">
                        <div class="input-group input-div">
                            <input type="text" class="form-control" placeholder="Search employee">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-de mb-0">
                <thead>
                    <tr class="tr-custom text-center">
                        <th></th>
                        <th>Name</th>
                        <th>ID number</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Card number</th>
                        <th>Created on</th>
                        <th>Card status</th>
                        <th>Card Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John Doe</td>
                        <td>CF3789993038121GH</td>
                        <td>mail@example.com</td>
                        <td>Manager Sales</td>
                        <td>4672 1935 2194 2323</td>
                        <td>12/12/2019</td>
                        <td>Active <i class="fa fa-circle text-success"></i></td>
                        <td>UGX 17000000.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>