<div class="row">
    <div class="card">
        <div class="card-header card-header-warning">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">Pending Transactions</h4>
                </div>
                <div class="col-md-8">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search pending...">
                            <button type="submit" class="btn btn-default btn-round btn-just-icon">
                      <i class="fa fa-search"></i>
                      <div class="ripple-container"></div>
                    </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover text-white">
                <thead>
                    <tr class="font-weight-bold">
                        <th></th>
                        <th>Transaction ID</th>
                        <th>Amount</th>
                        <th>Sender</th>
                        <th>Reciever</th>
                        <th>Error message</th>
                        <th>Transaction date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>290000123</td>
                        <td>UGX 123000.00</td>
                        <td>4234 7689 4567 9098</td>
                        <td>4789 5675 9898 9898</td>
                        <td>User not found</td>
                        <td>10/03/2020 16:41:23</td>
                        <td><a routerLink="/tansactions" class="text-danger">Cancel</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-header card-header-success">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">Successful Transactions</h4>
                </div>
                <div class="col-md-8">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search successful...">
                            <button type="submit" class="btn btn-default btn-round btn-just-icon">
                    <i class="fa fa-search"></i>
                    <div class="ripple-container"></div>
                  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover text-white">
                <thead>
                    <tr class="font-weight-bold">
                        <th></th>
                        <th>Transaction ID</th>
                        <th>Amount</th>
                        <th>Sender</th>
                        <th>Reciever</th>
                        <th>Transaction date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>290000123</td>
                        <td>UGX 123000.00</td>
                        <td>4234 7689 4567 9098</td>
                        <td>4789 5675 9898 9898</td>
                        <td>10/03/2020 16:41:23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-header card-header-danger">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">Canceled Transactions</h4>
                </div>
                <div class="col-md-8">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <button type="submit" class="btn btn-default btn-round btn-just-icon">
                    <i class="fa fa-search"></i>
                    <div class="ripple-container"></div>
                  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover text-white">
                <thead>
                    <tr class="font-weight-bold">
                        <th></th>
                        <th>Transaction ID</th>
                        <th>Amount</th>
                        <th>Sender</th>
                        <th>Reciever</th>
                        <th>Error message</th>
                        <th>Transaction date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>290000123</td>
                        <td>UGX 123000.00</td>
                        <td>4234 7689 4567 9098</td>
                        <td>4789 5675 9898 9898</td>
                        <td>User not found</td>
                        <td>10/03/2020 16:41:23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
