<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="login-content card animated slideInLeft login-custom">
                <div class="login-form">
                    <h3 class="text-center text-white">Forgot Your Password?</h3>
                    <p class="text-muted text-small">Enter your email address below and we'll send you a link to reset your password</p>
                    <form [formGroup]="loginFormGroup">

                        <div class="form-group">
                            <input type="email" class="form-control input-custom" [class.is-invalid]="getEmail().invalid && getEmail().touched" placeholder="Email" name="email" formControlName="email">
                            <div class="text-danger" *ngIf="(getEmail().invalid && getEmail().touched) || getEmail().dirty">
                                <small *ngIf="getEmail().errors?.required">Email address is required</small>
                                <small *ngIf="getEmail().errors?.pattern">Please enter a valid email</small>
                            </div>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-block btn-primary btn-flat m-b-30 m-t-30" value="Reset">
                        <div class="div-hr text-muted">
                            <span class="or-seperator">or</span>
                        </div>
                    </form>
                    <br>
                    <div class="register-link m-t-15 text-center">
                        <div class="text-center">
                            <a class="small" routerLink="/signup">Create an Account!</a>
                        </div>
                        <div class="text-center">
                            <a class="small" routerLink="/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
