<div class="row">
    <div class="card">
        <div class="card-header card-header-success">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">Notifications</h4>
                </div>
                <div class="col-md-8">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search user...">
                            <button type="submit" class="btn btn-default btn-round btn-just-icon">
                      <i class="fa fa-search"></i>
                      <div class="ripple-container"></div>
                    </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover text-white">
                <thead>
                    <tr>
                        <th></th>
                        <th>Notification</th>
                        <th>Type</th>
                        <th>Source</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Card number 4356 7864 5673 2345 has expired</td>
                        <td>Reminder</td>
                        <td>mail@example.com</td>
                        <td>12/03/2020 23:45:12</td>
                        <td><a href="#" class="text-success">Reniew</a>&nbsp;&nbsp;<a href="#" class="text-danger">Destroy</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
