.card {
    background: #0b0c21;
    margin: 15px 0;
    padding: 12px;
    border: 0 solid rgba(120, 130, 140, .13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    font-family: Roboto, sans-serif;
}

.card-title {
    border-bottom: 1px solid rgba(246, 147, 28, .125);
}

.card-title h4 {
    margin-top: 20px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #f6931c;
}

.card-body {
    color: white;
    font-weight: normal;
    font-size: 13px;
}

.card-body a {
    color: white;
}

ul {
    list-style-type: none;
}

.btn-outline-success {
    margin-top: 30px;
}

.btn-outline-danger {
    margin-top: 95px;
}

th,
td {
    color: white;
}

.form-control {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #f6931c;
    border-radius: 0px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    font-size: 13px;
}

.form-group {
    margin-bottom: 0px;
}